.navbarList {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    font-size: 24px;
    list-style: none ;

}

.navbarListItem {
    outline: none;
}